<template>
    <div class="teacher-table-container h-80 px-4">
        <div class="d-flex justify-space-between mx-1">
            <h3>Danh Sách Giảng Viên</h3>

            <div>
                <v-btn color="#6D79E8" @click="isShowDialog = true" class="text-none mx-4"
                    >+ Tải lên từ excel</v-btn
                >
                <v-btn color="#6D79E8" @click="isShowDialog = true" class="text-none"
                    >+ Tạo mới</v-btn
                >
            </div>
        </div>

        <div
            class="d-flex align-center justify-flex-start mt-4"
            style="background-color: #fff"
        >
            <div style="width: 300px">
                <v-text-field
                    variant="outlined"
                    label="Tim kiếm theo mã, Tên hoặc Số điện thoại"
                ></v-text-field>
            </div>
            <div style="width: 100px">
                <v-select
                    variant="outlined"
                    :items="['nam', 'nữ']"
                    placeholder="giới tính"
                >
                </v-select>
            </div>
            <v-btn color="#6D79E8" class="text-none ml-4" prepend-icon="mdi-magnify"
                >tìm kiếm</v-btn
            >
            <v-row class="justify-end mt-2 mb-2">
                <v-pagination :length="totalPage"> </v-pagination>
            </v-row>
        </div>

        <v-table class="teacher-table" height="570" fixed-header="true">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Họ và tên</th>
                    <th>Học phần giảng dạy</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Bằng cấp</th>
                    <th>Số căn cước</th>
                    <th>Ngày sinh</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(teacher, index) in teacherLists"
                    :key="teacher._id"
                    @click="onClickItem(teacher._id)"
                >
                    <td>{{ index + 1 }}</td>
                    <td>{{ teacher.name }}</td>
                    <td>{{ teacher?.teacherDetail?.subject }}</td>
                    <td>{{ teacher.phone }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>{{ teacher?.teacherDetail?.degree }}</td>
                    <td>{{ teacher?.teacherDetail?.indentity }}</td>
                    <td>{{ teacher.dob }}</td>
                </tr>
            </tbody>
        </v-table>
    </div>
    <TeacherDialog
        v-if="isShowDialog"
        @teacher-saved="getList"
        @close-dialog="isShowDialog = false"
    />
    <!-- <TheDialogQuestion
        v-if="isShowDialogQuestion"
        @close-dialog="isShowDialogQuestion = false"
        :id="id"
    ></TheDialogQuestion> -->
</template>

<script lang="js">
import axios from 'axios';
import { Degree, Gender } from './Teacher.constant';
import TeacherDialog from './TeacherDialog.vue';
// import TheDialogQuestion from '@/components/TheDialogQuestion.vue';
import { ref } from 'vue';


export default {
    components: {
        TeacherDialog,
        // TheDialogQuestion
    },
    data() {
        return {
            teacherLists: [
                {
                    _id: 'a'
                }
            ],
            Degree,
            Gender,
            isShowDialog: false,
            isShowDialogQuestion: true,
            id: ref()
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/teacher`).then((response) => {
            this.teacherLists = response.data[0];
        });
    },
    methods: {
        goToTeacherDetail(teacherId) {
            this.$router.push({ name: 'teacher-detail', params: { id: teacherId } });
        },
        getList() {
            axios.get(`${process.env.VUE_APP_BASE_URL}/teacher`).then((response) => {
                this.teacherLists = response.data[0];
            });
        },
        onClickItem(id) {
            this.isShowDialogQuestion = true;
            this.id = id;
        }

    },
};
</script>

<style>
.teacher-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.teacher-table {
    width: 100%;
}

.form-head {
    display: flex;
    justify-content: space-between;
}

.form-title {
    margin: 10px;
}

.avatar-user {
    border: 2px solid #ddd;
    border-radius: 100%;
}

.custom-col {
    position: relative;
}

.custom-col::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 100px;
    height: 4px;
    background-color: #019060;
}

.v-card-actions {
    padding: 0px !important;
}

.form-footer {
    background: #eaebef;
    margin-top: 16px;
    padding: 16px 20px;
}

.btn-close {
    box-shadow: none !important;
}

.btn-cancel {
    background: #ddd;
}
</style>
