<template>
    <v-dialog
        class="section"
        model-value="true"
        @click:outside="$emit('close-dialog')"
        width="60%"
    >
        <v-card>
            <div class="form-head">
                <v-card-title class="form-title">THÔNG TIN GIẢNG VIÊN</v-card-title>
                <v-btn class="btn-close" @click="$emit('close-dialog')">X</v-btn>
            </div>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="teacher.name"
                                label="Họ và tên"
                            ></v-text-field>
                            <v-select
                                v-model="teacher.teacherDetail.degree"
                                label="Bằng cấp"
                                v-bind:items="Object.values(Degree)"
                            ></v-select>
                            <v-select
                                v-model="teacher.teacherDetail.subject"
                                label="Môn học giảng dạy"
                                v-bind:items="subjects"
                            ></v-select>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="teacher.email"
                                label="Email"
                            ></v-text-field>
                            <v-select
                                v-model="teacher.gender"
                                label="Giới tính"
                                v-bind:items="Object.values(Gender)"
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="teacher.code"
                                label="Mã giảng viên"
                            ></v-text-field>
                            <v-text-field
                                v-model="teacher.dob"
                                label="Ngày sinh"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="teacher.phone"
                                label="Số điện thoại"
                            ></v-text-field>
                            <v-text-field
                                v-model="teacher.teacherDetail.identity"
                                label="Số CMND"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="blue darken-1" text @click="save">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="js">
import { Degree, Gender } from './Teacher.constant';
import axios from 'axios';
export default {
    props: {},
    data() {
        return {
            dialog: true,
            teacher: {
                code: '',
                name: '',
                email: '',
                phone: '',
                dob: '',
                gender: '',
                teacherDetail: {
                       degree: '',
                    identity: '',
                       subject: '',
                }
            },
            formTitle: 'String',
            Degree,
            Gender,
            subjects: [],
        };
    },
     mounted() {
        this.fetchSubjects();
    },
    methods: {
        close() {
            this.$emit('close-dialog');
        },
        async save() {

            try {
               await axios.post(`${process.env.VUE_APP_BASE_URL}/teacher`, this.teacher);
               this.$emit('teacher-saved');
               this.$emit('close-dialog');
            } catch (error) {
                console.error('Error saving teacher:', error);
            }
        },
        fetchSubjects() {
            axios.get(`${process.env.VUE_APP_BASE_URL}/subject`)
                .then(response => {
                    this.subjects = response.data.map(item => item.name);
                })
                .catch(error => {
                    console.error(error);
                });
        },
    },
};
</script>
