<template>
    <div>
        <h1>{{ teacher.name }}</h1>
        <p>{{ teacher.bio }}</p>
        <h2>Courses Taught:</h2>
        <ul>
            <li v-for="course in teacher.courses" :key="course.id">
                {{ course.name }}
            </li>
        </ul>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            teacher: {
                name: '',
                bio: '',
                courses: [],
            },
        };
    },
    mounted() {
        const teacherId = this.$route.params.id;
        this.fetchTeacherDetails(teacherId);
    },
    methods: {
        fetchTeacherDetails(teacherId) {
            axios
                .get(`http://127.0.0.1:3000/teacher/${teacherId}`)
                .then((response) => {
                    this.teacher = response.data;
                })
                .catch((error) => {
                    console.error(error);
                });
        },
    },
};
</script>
