<template>
    <v-dialog
        class="section"
        v-model="dialog"
        @click:outside="$emit('close-dialog')"
        width="60%"
    >
        <v-card>
            <div class="form-head">
                <v-card-title class="form-title">THÔNG TIN LỚP HỌC</v-card-title>
                <v-btn class="btn-close" @click="$emit('close-dialog')">X</v-btn>
            </div>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                v-model="classroom.name"
                                label="Tên lớp học"
                            ></v-text-field>
                            <v-select
                                v-model="courseName"
                                :items="courses"
                                label="Khóa học"
                            ></v-select>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                v-model="classroom.code"
                                label="Mã lớp học"
                            ></v-text-field>
                            <v-select
                                v-model="studentName"
                                :items="students"
                                label="Học sinh"
                                multiple
                            ></v-select>
                            Thời gian kết thúc
                            <input
                                type="date"
                                v-model="classroom.timeEnd"
                                label="Thời gian kết thúc"
                            />
                            Thời gian bắt đầu
                            <input
                                type="date"
                                v-model="classroom.timeStart"
                                label="Thời gian bắt đầu"
                            />
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                v-model="classroom.description"
                                label="Mô tả"
                            ></v-text-field>
                            <v-select
                                v-model="teacherName"
                                :items="teachers"
                                label="Giảng viên"
                                multiple
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="blue darken-1" text @click="save">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import axios from 'axios';

export default {
    props: {},
    data() {
        return {
            dialog: true,
            classroom: {
                name: '',
                code: '',
                description: '',
                course: '',
                students: [],
                teachers: [],
                timeStart: '',
                timeEnd: '',
            },
            formTitle: 'String',
            courses: [],
            courseName: [],
            dataCourse: [],
            students: [],
            studentName: [],
            dataStudent: [],
            teachers: [],
            teacherName: [],
            dataTeacher: [],
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/course`).then((response) => {
            this.dataCourse = response.data[0];
            this.courses = this.dataCourse.map((course) => course.name);
        });
        axios.get(`${process.env.VUE_APP_BASE_URL}/student`).then((response) => {
            this.dataStudent = response.data[0];
            this.students = this.dataStudent.map((student) => student.name);
        });
        axios.get(`${process.env.VUE_APP_BASE_URL}/teacher`).then((response) => {
            this.dataTeacher = response.data[0];
            this.teachers = this.dataTeacher.map((teacher) => teacher.name);
        });
    },
    methods: {
        close() {
            this.$emit('close');
        },
        async save() {
            this.dataCourse.forEach((item) => {
                this.courses.forEach((course) => {
                    if (item.name === course) {
                        this.classroom.course = item._id;
                    }
                });
            });
            this.dataStudent.forEach((item) => {
                this.students.forEach((student) => {
                    if (item.name === student) {
                        this.classroom.students.push(item._id);
                    }
                });
            });
            this.dataTeacher.forEach((item) => {
                this.teachers.forEach((teacher) => {
                    if (item.name === teacher) {
                        this.classroom.teachers.push(item._id);
                    }
                });
            });

            try {
                await axios.post(
                    `${process.env.VUE_APP_BASE_URL}/classroom`,
                    this.classroom,
                );

                this.$emit('classroom-saved');
                this.$emit('close-dialog');
            } catch (error) {
                console.error('Error saving classroom:', error);
            }
        },
    },
};
</script>
