<template>
    <div class="classroom-table-container h-80 px-4">
        <div class="d-flex justify-space-between">
            <h3>Danh Sách Lớp Học</h3>
            <v-btn color="#6D79E8" @click="isShowDialog = true" class="text-none"
                >+ Tạo mới</v-btn
            >
        </div>
        <div
            class="d-flex align-center justify-flex-start mt-4"
            style="background-color: #fff"
        >
            <div style="width: 300px">
                <v-text-field
                    variant="outlined"
                    label="Tim kiếm theo mã, Tên"
                    v-model="keyword"
                ></v-text-field>
            </div>
            <v-btn
                color="#6D79E8"
                class="text-none ml-4"
                prepend-icon="mdi-magnify"
                @click="getList"
                >tìm kiếm</v-btn
            >
            <v-row class="justify-end mt-2 mb-2">
                <v-pagination :length="totalPage"> </v-pagination>
            </v-row>
        </div>
        <v-table class="classroom-table" height="570" fixed-header="true">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên Lớp Học</th>
                    <th>Khóa Học</th>
                    <th>Số Học Sinh</th>
                    <th>Giáo Viên</th>
                    <th>Ngày Bắt Đầu</th>
                    <th>Ngày Kết Thúc</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(classroom, index) in classroomLists" :key="classroom.id">
                    <td @click="goToClassroomDetail(classroom._id)">{{ index + 1 }}</td>
                    <td>{{ classroom.name }}</td>
                    <td>{{ classroom?.courseNames?.toString() }}</td>
                    <td>{{ classroom?.studentNames?.length }}</td>
                    <td>{{ classroom?.teacherNames?.toString() }}</td>
                    <td>{{ classroom.TimeStart }}</td>
                    <td>{{ classroom.timeEnd }}</td>
                    <td><v-btn @click="deleteItem(classroom._id)">xóa</v-btn></td>
                </tr>
            </tbody>
        </v-table>
    </div>
    <ClassroomDialog v-if="isShowDialog" @close-dialog="isShowDialog = false">
    </ClassroomDialog>
</template>

<script>
import axios from 'axios';

import ClassroomDialog from './ClassroomDialog.vue';

export default {
    data() {
        return {
            classroomLists: [
                {
                    _id: 1,
                },
            ],
            dropdownCourse: [],
            isShowDialog: false,
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/classroom`).then((response) => {
            this.classroomLists = response.data[0];
        });
    },
    methods: {
        deleteItem(id) {
            axios.delete(`${process.env.VUE_APP_BASE_URL}/classroom/${id}`).then(() => {
                this.getList();
            });
        },
        goToClassroomDetail(classroomId) {
            this.$router.push({ name: 'classroom-detail', params: { id: classroomId } });
        },
        getList() {
            axios.get(`${process.env.VUE_APP_BASE_URL}/classroom`).then((response) => {
                this.classroomLists = response.data[0];
            });
        },
    },
    components: { ClassroomDialog },
};
</script>

<style>
.classroom-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.classroom-table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
