<template>
    <v-btn class="m-btn" :class="iconClass" @click="$emit('click')">
        <slot></slot>
    </v-btn>
</template>

<script>
export default {
    name: 'MyButton',
    props: {
        icon: String,
    },
    computed: {
        iconClass() {
            return this.icon ? `m-btn-icon m-btn-icon-${this.icon}` : '';
        },
    },
};
</script>

<style scoped>
.m-btn {
    background-color: #019160;
    border-radius: 4px;
    min-width: 100px;
    height: 40px;
    font-size: 13px;
    color: #fff;
    padding: 0 24px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.m-btn:hover {
    background-color: #2fbe8e;
}

.m-btn:active {
    background-color: #01b075;
}

.m-btn-icon {
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-left: 40px;
    padding-right: 16px;
}

.m-btn-icon-add {
    background-image: url(../../assets/icon/add.png);
}

.m-btn-icon-save {
    background-image: url(../../assets/icon/document-online.png);
}
</style>
