<template>
    <v-dialog
        class="section"
        model-value="true"
        @click:outside="$emit('close-dialog')"
        width="60%"
    >
        <v-card>
            <div class="form-head">
                <v-card-title class="form-title">Thông Tin Quản lí</v-card-title>
                <v-btn class="btn-close" @click="$emit('close-dialog')">X</v-btn>
            </div>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="manager.name"
                                label="Họ và tên"
                            ></v-text-field>
                            <v-select
                                v-model="manager.managerDetail.degree"
                                label="Chức vụ"
                                v-bind:items="['phó giám đốc', 'trưởng phòng']"
                            ></v-select>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="manager.email"
                                label="Email"
                            ></v-text-field>
                            <v-select
                                v-model="manager.gender"
                                label="Giới tính"
                                :items="['nam', 'nữ']"
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="manager.code"
                                label="Mã quản lí"
                            ></v-text-field>
                            <v-text-field
                                v-model="manager.dob"
                                label="Ngày sinh"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="manager.phone"
                                label="Số điện thoại"
                            ></v-text-field>
                            <v-text-field
                                v-model="manager.managerDetail.identity"
                                label="Số CMND"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="blue darken-1" text @click="save">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="js">

import axios from 'axios';
export default {
    props: {},
    data() {
        return {
            dialog: true,
            manager: {
                code: '',
                name: '',
                email: '',
                phone: '',
                dob: '',
                gender: '',
                managerDetail: {
                       degree: '',
                    identity: '',
                }
            },
            formTitle: 'String',
            subjects: [],
        };
    },
     mounted() {
        this.fetchSubjects();
    },
    methods: {
        close() {
            this.$emit('close-dialog');
        },
        async save() {

            try {
               await axios.post(`${process.env.VUE_APP_BASE_URL}/manager`, this.manager);
               this.$emit('manager-saved');
               this.$emit('close-dialog');
            } catch (error) {
                console.error('Error saving manager:', error);
            }
        },
        fetchSubjects() {
            axios.get(`${process.env.VUE_APP_BASE_URL}/subject`)
                .then(response => {
                    this.subjects = response.data.map(item => item.name);
                })
                .catch(error => {
                    console.error(error);
                });
        },
    },
};
</script>
