<template>
    <div class="manager-table-container h-80 px-4">
        <div class="d-flex justify-space-between">
            <h3>Danh Sách Quản Lí</h3>
            <div>
                <v-btn
                    color="#6D79E8"
                    @click="isShowDialogImport = true"
                    class="text-none mx-4"
                    >+ Tải lên từ excel</v-btn
                >
                <v-btn color="#6D79E8" @click="isShowDialog = true" class="text-none"
                    >+ Tạo mới</v-btn
                >
            </div>
        </div>
        <div
            class="d-flex align-center justify-flex-start mt-4"
            style="background-color: #fff"
        >
            <div style="width: 300px">
                <v-text-field
                    variant="outlined"
                    label="Tim kiếm theo mã, Tên hoặc Số điện thoại"
                    v-model="keyword"
                ></v-text-field>
            </div>
            <v-btn
                color="#6D79E8"
                class="text-none ml-4"
                prepend-icon="mdi-magnify"
                @click="getList"
                >tìm kiếm</v-btn
            >
            <v-row class="justify-end mt-2 mb-2">
                <v-pagination :length="totalPage"> </v-pagination>
            </v-row>
        </div>

        <v-table class="manager-table" height="570" fixed-header="true">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Chức vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="manager in managerLists" :key="manager.id">
                    <td>{{ manager?.code }}</td>
                    <td>{{ manager?.name }}</td>
                    <td>{{ manager?.gender }}</td>
                    <td>{{ manager?.dob }}</td>
                    <td>{{ manager?.phone }}</td>
                    <td>{{ manager?.email }}</td>
                    <td>{{ manager?.managerDetail?.degree }}</td>
                    <td width="150px">
                        <v-btn width="40px" @click="deleteItem(manager._id)">xóa</v-btn>
                        <v-btn width="40px" @click="deleteItem(manager._id)">sửa</v-btn>
                        <v-btn width="40px" @click="deleteItem(manager._id)"
                            >chi tiết</v-btn
                        >
                    </td>
                </tr>
            </tbody>
        </v-table>
    </div>
    <ManagerDialog
        v-if="isShowDialog"
        @manager-saved="getList"
        @close-dialog="isShowDialog = false"
    ></ManagerDialog>
    <TheDialogImportFileExel
        v-if="isShowDialogImport"
        @close="isShowDialogImport = false"
        :query="'manager'"
    ></TheDialogImportFileExel>
</template>

<script>
import axios from 'axios';
import ManagerDialog from './ManagerDialog.vue';
import TheDialogImportFileExel from '@/components/TheDialogImportFileExel.vue';
import { ref } from 'vue';
export default {
    components: {
        ManagerDialog,
        TheDialogImportFileExel,
    },
    data() {
        return {
            managerLists: [{}],
            isShowDialog: false,
            isShowDialogImport: false,
            totalPage: 1,
            keyword: ref(''),
            page: ref(1),
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/manager`).then((response) => {
            this.managerLists = response.data[0];
            this.totalPage = response.data[1];
        });
    },
    methods: {
        getList() {
            axios
                .get(
                    `${process.env.VUE_APP_BASE_URL}/manager?keyword=${this.keyword}&page=${this.page}`,
                )
                .then((response) => {
                    this.managerLists = response.data[0];
                });
        },
        deleteItem(id) {
            axios.delete(`${process.env.VUE_APP_BASE_URL}/manager/${id}`).then(() => {
                this.getList();
            });
        },
    },
};
</script>

<style>
.manager-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.manager-table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
