<template>
    <v-dialog :model-value="isOpen" @click:outside="closeDialog" width="60%">
        <v-card title="xem video">
            <iframe width="1000" height="600" :src="src"></iframe>
            <v-btn color="red" @click="deleteVideo">delete</v-btn>
        </v-card>
    </v-dialog>
</template>

<script>
import axios from 'axios';
export default {
    props: {
        src: {
            type: String,
            required: true,
        },
        isOpen: {
            type: Boolean,
            required: true,
        },
        _id: {
            type: String,
            required: true,
        },
    },
    emits: ['close'],
    data() {},
    methods: {
        closeDialog() {
            this.$emit('close');
        },
        async deleteVideo() {
            await axios.delete(`${process.env.VUE_APP_BASE_URL}/lecture/${this._id}`);
            this.$emit('close');
        },
    },
};
</script>

<style scoped>
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
</style>
