<template>
    <v-dialog
        class="section"
        model-value="true"
        @click:outside="$emit('close')"
        width="60%"
    >
        <div>
            <v-form @submit="submitForm">
                <v-row>
                    <v-col cols="12">
                        <v-file-input
                            variant="solo-inverted"
                            v-model="file"
                            label="Bấm vào để chọn file tải lên"
                        ></v-file-input>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-btn @click="submitForm" color="primary">Tải lên</v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </div>
    </v-dialog>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            file: FileList,
        };
    },
    methods: {
        submitForm() {
            const formData = new FormData();
            formData.append('file', this.file[0]);
            axios
                .post(
                    `${process.env.VUE_APP_BASE_URL}/clouding/upload-video-lecture`,
                    formData,
                )
                .then((res) => {
                    if (res.statusCode === 200) {
                        this.$emit('close');
                    }
                })
                .catch((err) => {
                    console.log(err);
                });
        },
    },
};
</script>

<style scoped></style>
