<template>
    <div class="syllabus-table-container h-80">
        <div class="d-flex justify-space-between my-4 mx-4">
            <v-col cols="6" class="d-flex"><h2>Danh Sách Video Bài Giảng</h2></v-col>
            <v-col cols="6" class="d-flex justify-end"
                ><v-pagination
                    :length="4"
                    v-model="pagination"
                    @click="getList()"
                    @update:model-value="getList()"
                ></v-pagination>
                <v-btn @click="isShowDialog = true"> Thêm Bài Giảng</v-btn></v-col
            >
        </div>
        <v-row class="mx-1">
            <v-col v-for="(item, index) in lectures" :key="index" cols="3">
                <v-card @click="onClickFrame(item.link, item._id)">
                    <img
                        style="width: 50%"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Logo_PTIT_University.png/900px-Logo_PTIT_University.png"
                        alt=""
                    />
                </v-card>
                <span>{{ item.name }}</span>
            </v-col>
        </v-row>
        <SyllabusDialog v-if="isShowDialog" @close="handleClose" />
        <SyllabusDialogViewVideo
            :is-open="isOpenViewVideo"
            :src="link"
            :_id="id"
            @close="handleClose"
        />
    </div>
</template>

<script>
import { ref } from 'vue';
import SyllabusDialog from './SyllabusDialog.vue';
import SyllabusDialogViewVideo from './SyllabusDialogViewVideo.vue';
import axios from 'axios';
export default {
    data() {
        return {
            pagination: ref(1),
            isShowDialog: false,
            isOpenViewVideo: ref(false),
            link: ref(),
            id: ref(),
            lectures: [],
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/lecture`).then((res) => {
            this.lectures = res.data[0];
        });
    },
    methods: {
        getList() {
            return this.pagination;
        },
        onClickFrame(src, _id) {
            this.isOpenViewVideo = true;
            this.link = src;
            this.id = _id;
        },
        handleClose() {
            axios.get(`${process.env.VUE_APP_BASE_URL}/lecture`).then((res) => {
                this.lectures = res.data[0];
            });
            this.isOpenViewVideo = false;
            this.isShowDialog = false;
        },
    },
    components: {
        SyllabusDialog,
        SyllabusDialogViewVideo,
    },
};
</script>

<style></style>
