<template>
    <v-dialog
        class="section"
        model-value="true"
        @click:outside="$emit('close-dialog')"
        width="60%"
    >
        <v-card>
            <div class="form-head">
                <v-card-title class="form-title">THÔNG TIN KHÓA HỌC</v-card-title>
                <v-btn class="btn-close" @click="$emit('close-dialog')">X</v-btn>
            </div>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="course.name"
                                label="Tên khóa học"
                            ></v-text-field>
                            <v-text-field
                                v-model="course.code"
                                label="Mã khóa học"
                            ></v-text-field>
                            <v-text-field
                                v-model="course.description"
                                label="Chi tiết khóa học"
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                            <v-select
                                v-model="subjectNames"
                                :items="subjects"
                                label="môn học"
                                :multiple="true"
                            ></v-select>
                            <v-text-field
                                v-model="course.time"
                                label="Thời gian dạy khóa học"
                            ></v-text-field>
                            <v-select
                                v-model="course.status"
                                :items="['Trực tuyến', 'Trực tiếp']"
                                label="trạng thái"
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="blue darken-1" text @click="save">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="js">
import axios from 'axios';
export default {
    props: {},
    data() {
        return {
            dialog: true,
            course: {
                code: '',
                name: '',
                description: '',
                time: '',
                subjects: [],
                status: '',
            },
            formTitle: 'String',
            subjects: [],
            subjectNames: [],
            dataSubject: []

        };
    },
     mounted() {
        this.fetchSubjects();
    },
    methods: {
        close() {
            this.$emit('close');
        },
        async save() {
            this.dataSubject.forEach(
                (item) => {
                    this.subjectNames.forEach(
                        (subject) => {

                            if (item.name === subject) {
                                this.course.subjects.push(item._id);
                            }
                        },
                    );
                },
            )
            try {
               await axios.post(`${process.env.VUE_APP_BASE_URL}/course`, this.course);
               this.$emit('course-saved');
               this.$emit('close-dialog');
            } catch (error) {
                console.error('Error saving course:', error);
            }
        },
        fetchSubjects() {
            axios.get(`${process.env.VUE_APP_BASE_URL}/subject`)
                .then(response => {
                    this.dataSubject = response.data[0];
                    this.subjects = response.data[0].map(item => {

                        return item.name;
                    });
                })
                .catch(error => {
                    console.error(error);
                });
        },
    },
};
</script>
