<template>
    <div class="course-table-container h-80 px-4">
        <div class="d-flex justify-space-between">
            <h3>Danh Sách Khóa Học</h3>
            <v-btn color="#6D79E8" @click="isShowDialog = true" class="text-none"
                >+ Tạo mới</v-btn
            >
        </div>
        <div
            class="d-flex align-center justify-flex-start mt-4"
            style="background-color: #fff"
        >
            <div style="width: 300px">
                <v-text-field
                    variant="outlined"
                    label="Tim kiếm theo mã, Tên, Môn học hoặc Thời lượng"
                    v-model="keyword"
                ></v-text-field>
            </div>
            <v-btn
                color="#6D79E8"
                class="text-none ml-4"
                prepend-icon="mdi-magnify"
                @click="getList"
                >tìm kiếm</v-btn
            >
            <v-row class="justify-end mt-2 mb-2">
                <v-pagination :length="totalPage"> </v-pagination>
            </v-row>
        </div>

        <v-table class="course-table" height="570" fixed-header="true">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên Khóa học</th>
                    <th>Môn học</th>
                    <th>Thời lượng (buổi)</th>
                    <th>Phương thức giảng dạy</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in courses" :key="index.id">
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.subjectNames.toString() }}</td>
                    <td>{{ item.time }}</td>
                    <td>{{ item.status }}</td>
                    <td><v-btn @click="deleteItem(item._id)">xóa</v-btn></td>
                </tr>
            </tbody>
        </v-table>
        <CourseDialog
            v-if="isShowDialog"
            @closeDialog="isShowDialog = false"
            @teacher-saved="getList"
        ></CourseDialog>
    </div>
</template>

<script>
import axios from 'axios';

import CourseDialog from './CourseDialog.vue';

export default {
    data() {
        return {
            courses: [],
            dropdownCourse: [],
            isShowDialog: false,
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/course`).then((response) => {
            this.courses = response.data[0];
        });
    },
    methods: {
        deleteItem(id) {
            axios.delete(`${process.env.VUE_APP_BASE_URL}/course/${id}`).then(() => {
                this.getList();
            });
        },
        getList() {
            axios.get(`${process.env.VUE_APP_BASE_URL}/course`).then((response) => {
                this.courses = response.data[0];
            });
        },
    },
    components: {
        CourseDialog,
    },
};
</script>

<style>
.course-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.course-table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
