<template>
    <v-dialog
        class="section"
        v-model="dialog"
        @click:outside="$emit('close-dialog')"
        width="60%"
    >
        <v-card>
            <div class="form-head">
                <v-card-title class="form-title">THÔNG TIN MÔN HỌC</v-card-title>
                <v-btn class="btn-close" @click="$emit('close-dialog')">X</v-btn>
            </div>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                v-model="subject.name"
                                label="Tên môn học"
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                v-model="subject.code"
                                label="Mã môn học"
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                v-model="subject.description"
                                label="Mô tả"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="blue darken-1" text @click="save">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import axios from 'axios';

export default {
    props: {},
    data() {
        return {
            dialog: true,
            subject: {
                name: '',
                code: '',
                description: '',
            },
            formTitle: 'String',
        };
    },
    methods: {
        close() {
            this.$emit('close');
        },
        async save() {
            try {
                await axios.post(`${process.env.VUE_APP_BASE_URL}/subject`, this.subject);

                this.$emit('subject-saved');
                this.$emit('close-dialog');
            } catch (error) {
                console.error('Error saving subject:', error);
            }
        },
    },
};
</script>
