<template>
    <div class="subject-table-container h-80 px-4">
        <div class="d-flex justify-space-between">
            <h3>Danh Sách Môn Học</h3>
            <div>
                <v-btn color="#6D79E8" @click="isShowDialog = true" class="text-none"
                    >+ Tạo mới</v-btn
                >
            </div>
        </div>
        <div
            class="d-flex align-center justify-flex-start mt-4"
            style="background-color: #fff"
        >
            <div style="width: 300px">
                <v-text-field
                    variant="outlined"
                    color="blue"
                    label="Tìm kiếm theo mã hoặc tên"
                    :hide-details="true"
                    density="compact"
                    v-model="keyword"
                ></v-text-field>
            </div>
            <v-btn
                color="#6D79E8"
                class="text-none ml-4"
                prepend-icon="mdi-magnify"
                @click="getList"
                >Tìm kiếm</v-btn
            >
            <v-row class="justify-end mt-2 mb-2">
                <v-pagination :length="page" v-model="page" @click="getList">
                </v-pagination>
            </v-row>
        </div>

        <v-table class="subject-table scroll" height="570" fixed-header="true">
            <thead>
                <tr>
                    <th>Stt</th>
                    <th>Tên môn học</th>
                    <th>Mã môn học</th>
                    <th>Chi tiết môn học</th>
                    <th>Giảng viên</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(subject, index) in subjectLists" :key="subject.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.code }}</td>
                    <td>{{ subject.description }}</td>
                    <td>{{ subject.teacherNames }}</td>
                </tr>
            </tbody>
        </v-table>
    </div>
    <SubjectDialog
        v-if="isShowDialog"
        @subject-saved="getList"
        @close-dialog="isShowDialog = false"
    >
    </SubjectDialog>
</template>

<script>
import axios from 'axios';
import SubjectDialog from './SubjectDialog.vue';
import { ref } from 'vue';
export default {
    props: {
        id: {
            type: String,
            required: false,
        },
    },
    data() {
        return {
            subjectLists: [],
            dropdownCourse: [],
            isShowDialog: false,
            keyword: ref(''),
            page: ref(1),
            totalPage: 1,
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/subject`).then((response) => {
            this.subjectLists = response.data[0];
            this.totalPage = response.data[1];
        });
    },
    methods: {
        goToSubjectDetail(subjectId) {
            this.$router.push({ name: 'subject-detail', params: { id: subjectId } });
        },
        getList() {
            axios
                .get(
                    `${process.env.VUE_APP_BASE_URL}/subject?keyword=${this.keyword}&page=${this.page}`,
                )
                .then((response) => {
                    this.subjectLists = response.data[0];
                });
        },
    },
    components: { SubjectDialog },
};
</script>

<style>
.subject-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.subject-table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
