<template>
    <div class="calendar" v-if="calendar">
        Lịch học tháng {{ month }} năm {{ year }}
        <div class="calendar-row head">
            <div v-for="(item, index) in dateOfWeek" :key="index" class="row-item">
                <strong v-text="item" />
            </div>
        </div>

        <div v-for="(row, row_index) in calendar" :key="row_index" class="calendar-row">
            <div v-for="(cell, cell_index) in row" :key="cell_index" class="row-item">
                <span v-text="cell ? cell : ''" />
                <br />
                <span v-text="getCellContent(cell)" />
            </div>
        </div>
    </div>
</template>

<style lang="css">
.calendar {
    padding: 0 1em;
    .calendar-row {
        display: flex;
        &.head {
            & > div {
                height: 64px;
                color: #eb5757;
                background: #eb57571a;
                border: thin solid #eb575733;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .row-item {
            flex-grow: 1;

            position: relative;
            border-top: none;
            border: thin solid #e2e8f0;

            min-width: 100px;
            width: calc(100% / 7);
            height: 200px;

            & > span {
                position: absolute;
                top: 5px;
                left: 5px;
                color: #7184a3;
                font-size: 16px;
            }
        }
    }
}
</style>
<script>
export default {
    data() {
        return {
            month: 1,
            year: 1,
            dateOfWeek: [
                'Chủ nhật',
                'Thứ hai',
                'Thứ ba',
                'Thứ tư',
                'Thứ năm',
                'Thứ sáu',
                'Thứ bảy',
            ],
            calendar: null,

            data: [
                {
                    name: 'buổi học toán',
                    class: 'lớp 1',
                    subject: 'toán',
                    timeStart: '2023-11-29T07:50',
                    timeEnd: '2023-11-29T01:50',
                },
            ],
        };
    },
    created() {
        const date = new Date();
        this.month = date.getMonth() + 1;
        this.year = date.getFullYear();
        this.buildCalendar(date.getMonth() + 1, date.getFullYear());
    },
    methods: {
        // lấy ngày đầu và ngày cuối trong tháng
        getRangeMonth(numbMonth, numbYear) {
            numbMonth = Number(numbMonth) || new Date().getMonth() + 1;
            numbYear = Number(numbYear) || new Date().getFullYear();
            return {
                firstDay: new Date(`${numbYear}-${numbMonth}-1`),
                lastDay: new Date(
                    `${numbYear}-${numbMonth}-${new Date(
                        numbYear,
                        numbMonth,
                        0,
                    ).getDate()}`,
                ),
            };
        },
        buildCalendar(month, year) {
            let arr = [[]];
            // lấy ngày đầu và ngày cuối trong tháng
            let { firstDay, lastDay } = this.getRangeMonth(month, year);
            // đếm ngày
            let countDay = 1;
            // nếu countDay lớn hơn số ngày cuối trong tháng thì mình dừng vòng lặp
            for (let i = 1; countDay <= lastDay.getDate(); i++) {
                for (let j = 0; j < 7; j++) {
                    // first loop
                    if (i == 1) {
                        if (j < firstDay.getDay()) arr[arr.length - 1].push(0);
                        else {
                            arr[arr.length - 1].push(countDay);
                            countDay++;
                        }
                    } else {
                        if (countDay > lastDay.getDate()) arr[arr.length - 1].push(0);
                        else {
                            arr[arr.length - 1].push(countDay);
                            countDay++;
                        }
                    }
                }
                if (countDay > lastDay.getDate()) break;
                arr.push([]);
            }
            this.calendar = arr;
        },
        getCellContent(cell) {
            if (cell === 0) {
                return '';
            } else {
                const events = this.data.filter((item) => {
                    const itemDate = new Date(item.timeStart);
                    return itemDate.getDate() === cell;
                });

                const data = events.map((event) => {
                    return `${event.class}- ${event.subject}- ${new Date(
                        event.timeStart,
                    ).getHours()} giờ - ${new Date(event.timeEnd).getHours()} giờ`;
                });
                return data.length > 0 ? data : null;
            }
        },
    },
};
</script>
