<template>
    <v-dialog
        class="section"
        v-model="dialog"
        @click:outside="$emit('close-dialog')"
        width="60%"
    >
        <v-card>
            <div class="form-head">
                <v-card-title class="form-title">THÔNG TIN BUỔI HỌC</v-card-title>
                <v-btn class="btn-close" @click="$emit('close-dialog')">X</v-btn>
            </div>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                v-model="lesson.name"
                                label="Tên buổi học"
                            ></v-text-field>
                            <v-select
                                v-model="lesson.classroom"
                                :items="classrooms"
                                label="Lớp học"
                                @update:model-value="(value) => updateValue(value)"
                            ></v-select>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                v-model="lesson.code"
                                label="Mã buổi học"
                            ></v-text-field>
                            Thời gian bắt đầu
                            <input
                                type="datetime-local"
                                v-model="lesson.startTime"
                                label="Thời gian kết thúc"
                            />
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                v-model="lesson.room"
                                label="Phòng học"
                            ></v-text-field>
                            Thời gian kết thúc
                            <input
                                type="datetime-local"
                                v-model="lesson.endTime"
                                label="Thời gian bắt đầu"
                            />
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="blue darken-1" text @click="save">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            dialog: true,
            lesson: {
                name: '',
                code: '',
                room: '',
                classroom: '',
                startTime: '',
                endTime: '',
            },
            formTitle: 'String',
            classrooms: [],
            allData: [],
            dataOptions: [],
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/classroom`).then((response) => {
            this.allData = response?.data[0];
            this.dataOptions = this.allData.map((course) => {
                return {
                    value: course._id,
                    title: course.name,
                };
            });
            this.classrooms = this.allData.map((course) => course.name);
        });
    },
    methods: {
        close() {
            this.$emit('close');
        },
        async save() {
            try {
                await axios.post(`${process.env.VUE_APP_BASE_URL}/lesson`, this.lesson);

                this.$emit('classroom-saved');
                this.$emit('close-dialog');
            } catch (error) {
                console.error('Error saving classroom:', error);
            }
        },
        async updateValue() {},
    },
};
</script>
