<template>
    <div class="lesson-table-container h-80 px-4">
        <div class="d-flex justify-space-between">
            <h3>Danh Sách Buổi Học</h3>
            <v-btn color="#6D79E8" @click="isShowDialog = true" class="text-none"
                >+ Tạo mới</v-btn
            >
        </div>
        <div
            class="d-flex align-center justify-flex-start mt-4"
            style="background-color: #fff"
        >
            <div style="width: 300px">
                <v-text-field
                    variant="outlined"
                    label="Tim kiếm theo mã, Tên"
                    v-model="keyword"
                ></v-text-field>
            </div>
            <v-btn
                color="#6D79E8"
                class="text-none ml-4"
                prepend-icon="mdi-magnify"
                @click="getList"
                >tìm kiếm</v-btn
            >
            <v-row class="justify-end mt-2 mb-2">
                <v-pagination :length="totalPage"> </v-pagination>
            </v-row>
        </div>
        <v-table class="lesson-table" height="570" fixed-header="true">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Lớp</th>
                    <th>Phòng</th>
                    <th>Thời gian bắt đầu</th>
                    <th>Thời gian kết thúc</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(lesson, index) in lessonLists" :key="lesson.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ lesson.name }}</td>
                    <td>{{ lesson.classroom }}</td>
                    <td>{{ lesson.room }}</td>
                    <td>{{ lesson.endTime }}</td>
                    <td>{{ lesson.startTime }}</td>
                </tr>
            </tbody>
        </v-table>
    </div>
    <LessonDialog v-if="isShowDialog" @close="isShowDialog = false"></LessonDialog>
</template>

<script>
import axios from 'axios';
import { ref } from 'vue';

import LessonDialog from './LessonDialog.vue';

export default {
    components: {
        LessonDialog,
    },
    data() {
        return {
            lessonLists: [],
            dropdownCourse: [],
            isShowDialog: false,
            keyword: ref(''),
            totalPage: 1,
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/lesson`).then((response) => {
            this.lessonLists = response.data[0];
            this.totalPage = response.data[1];
        });
    },
    methods: {
        goToSubjectDetail(lessonId) {
            this.$router.push({ name: 'lesson-detail', params: { id: lessonId } });
        },
        getList() {
            axios
                .get(`${process.env.VUE_APP_BASE_URL}/lesson?keyword=${this.keyword}`)
                .then((response) => {
                    this.lessonLists = response.data;
                });
        },
    },
    // components: {lessonDialog },
};
</script>

<style>
.lesson-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.lesson-table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
