<template>
    <div class="dashboard">
        <div
            class="mx-4 d-flex justify-space-between"
            style="background-color: #fff; width: 100%; height: 700px"
        >
            <div class="widget" style="background-color: #f2f1ff">
                <h3>Tổng số quản lí</h3>
                <p>{{ data.totalManagers }}</p>
            </div>
            <div class="widget" style="background-color: #e0f3ff">
                <h3>Tổng số học sinh</h3>
                <p>{{ data.totalStudents }}</p>
            </div>
            <div class="widget" style="background-color: #ffe9e9">
                <h3>Tổng số giáo viên</h3>
                <p>{{ data.totalTeachers }}</p>
            </div>
            <div class="widget" style="background-color: #8e8dd0">
                <h3>Tổng số lớp học</h3>
                <p>{{ data.totalClasses }}</p>
            </div>

            <div class="widget" style="background-color: #00c48c">
                <h3>Tổng số khóa học</h3>
                <p>{{ data.totalCourses }}</p>
            </div>
            <div class="widget" style="background-color: #d5a6a6">
                <h3>Tổng số môn học</h3>
                <p>{{ data.totalSubjects }}</p>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            data: {
                totalManagers: 10,
                totalStudents: 10,
                totalTeachers: 10,
                totalClasses: 30,
                totalLessons: 10,
                totalCourses: 10,
                totalSubjects: 10,
            },
        };
    },
    mounted() {
        this.fetchDashboardData();
    },
    methods: {
        fetchDashboardData() {
            this.data = axios
                .get(`${process.env.VUE_APP_BASE_URL}/dashboard`)
                .then((response) => {
                    this.data = response.data;
                });
        },
    },
};
</script>

<style scoped>
.dashboard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.widget {
    width: 240px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
}
</style>
