<template>
    <v-card width="height:500px" class="mx-4">
        <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
            <v-tab :value="1">Quản Lí</v-tab>
            <v-tab :value="2">Giảng Viên</v-tab>
            <v-tab :value="3">Học Sinh</v-tab>
        </v-tabs>
        <v-window v-model="tab">
            <v-window-item v-for="n in 3" :key="n" :value="n">
                <div class="mx-4">
                    <v-table class="role-table" height="300" fixed-header="true">
                        <thead>
                            <tr>
                                <th>Chức năng</th>
                                <th>Quản lí</th>
                                <th>Giảng viên</th>
                                <th>Học sinh</th>
                                <th>Lớp học</th>
                                <th>Khóa học</th>
                                <th>Môn học</th>
                                <th>Buổi học</th>
                                <th>Giáo trình</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="role in getSubjectsByTab(tab)" :key="role.id">
                                <td>{{ role.name }}</td>
                                <td
                                    v-for="(item, index) in module"
                                    :key="index"
                                    class="text-center"
                                    @click="addOrRemoveRole(role.name, item, tab)"
                                >
                                    <v-icon v-if="role.module.includes(item)"
                                        >mdi-check</v-icon
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </v-table>
                </div>
                <v-btn color="#6d79e8" class="mb-4" @click="saveRole()">Lưu</v-btn>
            </v-window-item>
        </v-window>
    </v-card>
</template>

<script>
import axios from 'axios';
import { get } from 'lodash';
import { ref } from 'vue';
export default {
    data() {
        return {
            module: [
                'manager',
                'teacher',
                'student',
                'classroom',
                'course',
                'subject',
                'lesson',
                'syllabus',
            ],
            tab: ref(1),
            roleManager: [
                {
                    name: 'Thêm',
                    module: [],
                },
                {
                    name: 'Sửa',
                    module: [],
                },
                {
                    name: 'Xem',
                    module: [],
                },
                {
                    name: 'Xóa',
                    module: [],
                },
            ],
            roleTeacher: [
                {
                    name: 'Thêm',
                    module: [],
                },
                {
                    name: 'Sửa',
                    module: [],
                },
                {
                    name: 'Xem',
                    module: [],
                },
                {
                    name: 'Xóa',
                    module: [],
                },
            ],
            roleStudent: [
                {
                    name: 'Thêm',
                    module: [],
                },
                {
                    name: 'Sửa',
                    module: [],
                },
                {
                    name: 'Xem',
                    module: [],
                },
                {
                    name: 'Xóa',
                    module: [],
                },
            ],
            featureManager: {},
            featureTeacher: {},
            featureStudent: {},
            newData: {},
        };
    },
    mounted() {
        this.tab = 1;
        axios.get(`${process.env.VUE_APP_BASE_URL}/role`).then((response) => {
            const data = response.data;
            this.newData = data;

            const featureManager = JSON.parse(
                data.filter((item) => item.type === 'MANAGER')[0].feature,
            );
            const featureTeacher = JSON.parse(
                data.filter((item) => item.type === 'TEACHER')[0].feature,
            );
            const featureStudent = JSON.parse(
                data.filter((item) => item.type === 'STUDENT')[0].feature,
            );

            this.featureManager = featureManager;
            this.featureTeacher = featureTeacher;
            this.featureStudent = featureStudent;

            this.module.forEach((item) => {
                this.roleManager.forEach((role, index) => {
                    if (role.name === 'Thêm') {
                        if (get(featureManager, `${item}.c`))
                            this.roleManager[index].module.push(item);
                    }
                    if (role.name === 'Sửa') {
                        if (get(featureManager, `${item}.u`))
                            this.roleManager[index].module.push(item);
                    }
                    if (role.name === 'Xem') {
                        if (get(featureManager, `${item}.r`))
                            this.roleManager[index].module.push(item);
                    }
                    if (role.name === 'Xóa') {
                        if (get(featureManager, `${item}.d`))
                            this.roleManager[index].module.push(item);
                    }
                });

                this.roleTeacher.forEach((role, index) => {
                    if (role.name === 'Thêm') {
                        if (get(featureTeacher, `${item}.c`))
                            this.roleTeacher[index].module.push(item);
                    }
                    if (role.name === 'Sửa') {
                        if (get(featureTeacher, `${item}.u`))
                            this.roleTeacher[index].module.push(item);
                    }
                    if (role.name === 'Xem') {
                        if (get(featureTeacher, `${item}.r`))
                            this.roleTeacher[index].module.push(item);
                    }
                    if (role.name === 'Xóa') {
                        if (get(featureTeacher, `${item}.d`))
                            this.roleTeacher[index].module.push(item);
                    }
                });

                this.roleStudent.forEach((role, index) => {
                    if (role.name === 'Thêm') {
                        if (get(featureStudent, `${item}.c`))
                            this.roleStudent[index].module.push(item);
                    }
                    if (role.name === 'Sửa') {
                        if (get(featureStudent, `${item}.u`))
                            this.roleStudent[index].module.push(item);
                    }
                    if (role.name === 'Xem') {
                        if (get(featureStudent, `${item}.r`))
                            this.roleStudent[index].module.push(item);
                    }
                    if (role.name === 'Xóa') {
                        if (get(featureStudent, `${item}.d`))
                            this.roleStudent[index].module.push(item);
                    }
                });
            });
        });
    },
    methods: {
        getSubjectsByTab(tab) {
            if (tab === 1) {
                return this.roleManager;
            } else if (tab === 2) {
                return this.roleTeacher;
            } else if (tab === 3) {
                return this.roleStudent;
            }
        },
        addOrRemoveRole(name, feature, tab) {
            let temp = this.roleManager;
            if (tab === 1) {
                temp = this.roleManager;
            } else if (tab === 2) {
                temp = this.roleTeacher;
            } else if (tab === 3) {
                temp = this.roleStudent;
            }
            const index = temp.findIndex((role) => role.name === name);
            if (index !== -1) {
                if (!temp[index].module.includes(feature)) {
                    temp[index].module.push(feature);
                } else {
                    const featureIndex = temp[index].module.findIndex(
                        (item) => item === feature,
                    );
                    temp[index].module.splice(featureIndex, 1);
                }
            }
        },
        saveRole() {
            let newData;
            this.module.forEach((item) => {
                this.roleManager.forEach((role, index) => {
                    if (role.name === 'Thêm') {
                        if (this.roleManager[index].module.includes(item))
                            this.featureManager[`${item}.c`] = true;
                        else this.featureManager[`${item}.c`] = false;
                    }
                    if (role.name === 'Sửa') {
                        if (this.roleManager[index].module.includes(item))
                            this.featureManager[`${item}.u`] = true;
                        else this.featureManager[`${item}.u`] = false;
                    }
                    if (role.name === 'Xem') {
                        if (this.roleManager[index].module.includes(item))
                            this.featureManager[`${item}.r`] = true;
                        else this.featureManager[`${item}.r`] = false;
                    }
                    if (role.name === 'Xóa') {
                        if (this.roleManager[index].module.includes(item))
                            this.featureManager[`${item}.d`] = true;
                        else this.featureManager[`${item}.d`] = false;
                    }
                });

                this.roleTeacher.forEach((role, index) => {
                    if (role.name === 'Thêm') {
                        if (this.roleTeacher[index].module.includes(item))
                            this.featureTeacher[`${item}.c`] = true;
                    }
                    if (role.name === 'Sửa') {
                        if (this.roleTeacher[index].module.includes(item))
                            this.featureTeacher[`${item}.u`] = true;
                    }
                    if (role.name === 'Xem') {
                        if (this.roleTeacher[index].module.includes(item))
                            this.featureTeacher[`${item}.r`] = true;
                    }
                    if (role.name === 'Xóa') {
                        if (this.roleTeacher[index].module.includes(item))
                            this.featureTeacher[`${item}.d`] = true;
                    }
                });

                this.roleStudent.forEach((role, index) => {
                    if (role.name === 'Thêm') {
                        if (this.roleStudent[index].module.includes(item))
                            this.featureStudent[`${item}.c`] = true;
                    }
                    if (role.name === 'Sửa') {
                        if (this.roleStudent[index].module.includes(item))
                            this.featureStudent[`${item}.u`] = true;
                    }
                    if (role.name === 'Xem') {
                        if (this.roleStudent[index].module.includes(item))
                            this.featureStudent[`${item}.r`] = true;
                    }
                    if (role.name === 'Xóa') {
                        if (this.roleStudent[index].module.includes(item))
                            this.featureStudent[`${item}.d`] = true;
                    }
                });
            });

            const data = [
                {
                    type: 'MANAGER',
                    feature: JSON.stringify(this.featureManager),
                },
                {
                    type: 'TEACHER',
                    feature: JSON.stringify(this.featureTeacher),
                },
                {
                    type: 'STUDENT',
                    feature: JSON.stringify(this.featureStudent),
                },
            ];

            newData = this.newData.map((item) => {
                const index = data.findIndex((role) => role.type === item.type);
                return {
                    ...item,
                    feature: data[index]?.feature,
                };
            });

            console.log(this.roleManager);

            axios
                .patch(`${process.env.VUE_APP_BASE_URL}/role`, newData)
                .then((response) => {
                    console.log(response);
                });
        },
    },
};
</script>

<style></style>
