<template>
    <button style="display: block"></button>
    <div class="student-details">
        <h2>{{ student.name }}</h2>
        <p><strong>Age:</strong> {{ student.age }}</p>
        <p><strong>Major:</strong> {{ student.major }}</p>
        <p><strong>GPA:</strong> {{ student.gpa }}</p>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            student: {
                name: '',
                age: 0,
                major: '',
                gpa: 0.0,
            },
        };
    },
    mounted() {
        const studentId = this.$route.params.id;
        this.fetchStudentDetails(studentId);
    },
    methods: {
        fetchStudentDetails(studentId) {
            this.student = axios
                .get(`${process.env.VUE_APP_BASE_URL}/student/${studentId}`)
                .then((response) => {
                    this.student = response.data;
                });
        },
    },
};
</script>

<style scoped>
.student-details {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}
</style>
