<template>
    <div class="student-table-container h-80 px-4">
        <div class="d-flex justify-space-between">
            <h3>Danh Sách Học Sinh</h3>
            <div>
                <v-btn color="#6D79E8" @click="isShowDialog = true" class="text-none mx-4"
                    >+ Tải lên từ excel</v-btn
                >
                <v-btn color="#6D79E8" @click="isShowDialog = true" class="text-none"
                    >+ Tạo mới</v-btn
                >
            </div>
        </div>
        <div
            class="d-flex align-center justify-flex-start mt-4"
            style="background-color: #fff"
        >
            <div style="width: 300px">
                <v-text-field
                    variant="outlined"
                    color="blue"
                    label="Tìm kiếm theo mã, tên hoặc số điện thoại"
                    :hide-details="true"
                    density="compact"
                    v-model="keyword"
                ></v-text-field>
            </div>
            <v-btn
                color="#6D79E8"
                class="text-none ml-4"
                prepend-icon="mdi-magnify"
                @click="getList"
                >Tìm kiếm</v-btn
            >
            <v-row class="justify-end mt-2 mb-2">
                <v-pagination :length="page" v-model="page" @click="getList">
                </v-pagination>
            </v-row>
        </div>
        <v-table class="student-table" height="570" fixed-header="true">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Lớp</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(student, index) in studentLists"
                    :key="student.id"
                    @click="goTostudentDetail(student._id)"
                >
                    <td>{{ index + 1 }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.dob }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.classroom }}</td>
                </tr>
            </tbody>
        </v-table>
    </div>
    <StudentDialog v-if="isShowDialog" @close-dialog="isShowDialog = false">
    </StudentDialog>
</template>

<script>
import axios from 'axios';

import StudentDialog from './StudentDialog.vue';

export default {
    data() {
        return {
            studentLists: [],
            dropdownCourse: [],
            isShowDialog: false,
        };
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_BASE_URL}/student`).then((response) => {
            this.studentLists = response.data[0];
        });
    },
    methods: {
        goTostudentDetail(studentId) {
            this.$router.push({ name: 'student-detail', params: { id: studentId } });
        },
    },
    components: { StudentDialog },
};
</script>

<style>
.student-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
