<template>
    <v-dialog
        class="section"
        model-value="true"
        @click:outside="$emit('close-dialog')"
        width="60%"
    >
        <v-card>
            <div class="form-head">
                <v-card-title class="form-title">THÔNG TIN HỌC SINH</v-card-title>
                <v-btn class="btn-close" @click="$emit('close-dialog')">X</v-btn>
            </div>

            <v-card-text>
                <v-row>
                    <v-col cols="3">
                        <div class="">
                            <img
                                class="w-100 avatar-user"
                                src="@\assets\img\default-avatar.jpg"
                            />
                        </div>
                    </v-col>
                    <v-col cols="9">
                        <v-row>
                            <v-col class="custom-col" cols="12"
                                >A. THÔNG TIN CHUNG:</v-col
                            >
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-label>Mã nhân viên (*)</v-label>
                                <v-text-field
                                    v-model="employee.EmployeeCode"
                                    variant="outlined"
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-label>Họ và tên (*)</v-label>
                                <v-text-field
                                    v-model="employee.FullName"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-label>Ngày sinh</v-label>
                                <v-text-field
                                    v-model="employee.DateOfBirth"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-label>Giới tính</v-label>
                                <v-text-field
                                    v-model="employee.GenderName"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-label>Số CMTND/ Căn cước (*)</v-label>
                                <v-text-field
                                    v-model="employee.IdentityNumber"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-label>Ngày cấp</v-label>
                                <v-text-field
                                    v-model="employee.IdentityDate"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-label>Nơi cấp</v-label>

                                <v-text-field
                                    v-model="employee.IdentityPlace"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6"> </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-label>Email (*)</v-label>
                                <v-text-field
                                    v-model="employee.Email"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-label>Số điện thoại (*) </v-label>
                                <v-text-field
                                    v-model="employee.PhoneNumber"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="custom-col" cols="12"
                                >B. THÔNG TIN CÔNG VIỆC:</v-col
                            >
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-label>Vị trí</v-label>
                                <v-text-field
                                    v-model="employee.PositionName"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-label>Phòng ban</v-label>
                                <v-text-field
                                    v-model="employee.DepartmentName"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-label>Mã số thuế cá nhân</v-label>
                                <v-text-field
                                    v-model="employee.PersonalTaxCode"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-label>Mức lương cơ bản</v-label>
                                <v-text-field
                                    v-model="employee.Salary"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-label>Ngày gia nhập công ty</v-label>
                                <v-text-field
                                    v-model="employee.JoinDate"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-label>Tình trạng công việc</v-label>
                                <v-text-field
                                    v-model="employee.WorkStatus"
                                    variant="outlined"
                                    label=""
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-card-text>

            <v-card-actions>
                <div class="form-footer d-flex justify-end w-100">
                    <template v-if="isEdit">
                        <v-btn variant="flat" color="red" @click="deleteEmployee"
                            >Xóa</v-btn
                        >
                        <v-btn
                            variant="flat"
                            color="blue"
                            class="px-10"
                            @click="updateEmployee"
                            >Cập nhật</v-btn
                        >
                    </template>
                    <template v-else>
                        <v-btn variant="flat" color="grey" @click="$emit('close-dialog')"
                            >Hủy</v-btn
                        >
                        <v-btn
                            variant="flat"
                            color="#019060"
                            class="px-10"
                            @click="saveEmployee"
                            >Lưu</v-btn
                        >
                    </template>
                </div>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
import axios from 'axios';
export default {
    props: {
        idEmployee: String,
        isEdit: Boolean,
    },
    data() {
        return {
            employee: {
                EmployeeId: '',
                fullName: '',
                gender: 0,
                dateOfBirth: '',
                phoneNumber: '',
                email: '',
                address: '',
                identityNumber: '',
                identityDate: '',
                identityPlace: '',
                joinDate: '',
                martialStatus: 0,
                workStatus: 0,
                personalTaxCode: '',
                salary: 0,
                positionName: '',
                departmentName: '',
            },
        };
    },
    async created() {
        if (this.isEdit) {
            try {
                const response = await axios.get(
                    `https://cukcuk.manhnv.net/api/v1/Employees/${this.idEmployee}`,
                );
                this.employee = response.data;
                this.employee.JoinDate = this.formatDate(this.employee.JoinDate);
                this.employee.IdentityDate = this.formatDate(this.employee.IdentityDate);
                this.employee.DateOfBirth = this.formatDate(this.employee.DateOfBirth);
            } catch (error) {
                console.error('Error fetching employee:', error);
            }
        }
    },
    methods: {
        async saveEmployee() {
            try {
                await axios.post('http://localhost:3000/student', this.employee);

                this.$emit('close-dialog');
                this.$emit('reload');
            } catch (error) {
                console.error('Error saving employee:', error);
            }
        },

        async updateEmployee() {
            try {
                this.employee.JoinDate = this.parseDateString(this.employee.JoinDate);
                this.employee.IdentityDate = this.parseDateString(
                    this.employee.IdentityDate,
                );
                this.employee.DateOfBirth = this.parseDateString(
                    this.employee.DateOfBirth,
                );
                await axios.put(
                    `https://cukcuk.manhnv.net/api/v1/Employees/${this.idEmployee}`,
                    this.employee,
                );

                this.$emit('close-dialog');
                this.$emit('reload');
            } catch (error) {
                console.error('Error update employee:', error);
            }
        },

        async deleteEmployee() {
            try {
                await axios.delete(
                    `https://cukcuk.manhnv.net/api/v1/Employees/${this.idEmployee}`,
                );
                this.$emit('close-dialog');
                this.$emit('reload');
            } catch (error) {
                console.error('Error delete employee:', error);
            }
        },

        formatDate(dateString) {
            const date = new Date(dateString);
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        },
        parseDateString(dateString) {
            const dateParts = dateString.split('/');
            if (dateParts.length === 3) {
                const day = parseInt(dateParts[0], 10);
                const month = parseInt(dateParts[1], 10) - 1;
                const year = parseInt(dateParts[2], 10);
                if (!isNaN(day) && !isNaN(month) && !isNaN(year)) {
                    return new Date(year, month, day);
                }
            }
            return null;
        },
    },
};
</script>

<style scoped>
.form-head {
    display: flex;
    justify-content: space-between;
}

.form-title {
    margin: 10px;
}

.avatar-user {
    border: 2px solid #ddd;
    border-radius: 100%;
}

.custom-col {
    position: relative;
}

.custom-col::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 100px;
    height: 4px;
    background-color: #019060;
}

.v-card-actions {
    padding: 0px !important;
}

.form-footer {
    background: #eaebef;
    margin-top: 16px;
    padding: 16px 20px;
}

.btn-close {
    box-shadow: none !important;
}

.btn-cancel {
    background: #ddd;
}
</style>
