<template>
    <div>
        <button>Xóa</button>
        <button>Xem Chi Tiết</button>

        <dialog :open="isOpen" @close="closeDialog">
            <h2>{{ dialogTitle }}</h2>
            <p v-if="dialogType === 'delete'">Are you sure you want to delete?</p>
            <p v-else-if="dialogType === 'view'">Viewing details for ID: {{ itemId }}</p>

            <button @click="confirmAction">Confirm</button>
            <button @click="closeDialog">Cancel</button>
        </dialog>
    </div>
</template>

<script>
export default {
    props: {
        id: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            isOpen: false,
            dialogType: '',
        };
    },
    methods: {},
};
</script>
