<template>
    <div class="employee-table-container h-100">
        <div class="d-flex justify-space-between">
            <h2>Danh sách nhân viên</h2>
            <v-btn @click="$emit('show-dialog')"> Thêm nhân viên </v-btn>
        </div>
        <v-row class="d-flex">
            <v-col cols="6">
                <v-row>
                    <v-col cols="6">
                        <v-text-field
                            variant="outlined"
                            label="Tim kiếm theo mã, Tên hoặc Số điện thoại"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="3">
                        <v-select
                            variant="outlined"
                            :items="['tất cả phòng ban', 'chỉ một phòng ban']"
                        >
                        </v-select>
                    </v-col>
                    <v-col cols="3">
                        <v-select
                            variant="outlined"
                            :items="['tất cả vị trí', 'chỉ một vị trí']"
                        >
                        </v-select>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="6" class="d-flex justify-end">
                <v-btn>reload</v-btn>
            </v-col>
        </v-row>
        <v-table class="employee-table" height="730" fixed-header="true">
            <thead>
                <tr>
                    <th>Mã nhân viên</th>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Chức vụ</th>
                    <th>Phòng ban</th>
                    <th>Mức lương cơ bản</th>
                    <th>Tình trạng công việc</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="employee in employeeLists" :key="employee.id">
                    <td>{{ employee.EmployeeId }}</td>
                    <td>{{ employee.FullName }}</td>
                    <td>{{ employee.GenderName }}</td>
                    <td>{{ employee.DateOfBirth }}</td>
                    <td>{{ employee.PhoneNumber }}</td>
                    <td>{{ employee.Email }}</td>
                    <td>{{ employee.PositionId }}</td>
                    <td>{{ employee.DepartmentId }}</td>
                    <td>{{ employee.Salary }}</td>
                    <td>{{ employee.WorkStatus }}</td>
                </tr>
            </tbody>
        </v-table>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            employeeLists: [],
        };
    },
    mounted() {
        axios
            .get('https://cukcuk.manhnv.net/api/v1/Employees/filter')
            .then((response) => {
                this.employeeLists = response.data.Data;
            });
    },
    methods() {},
};
</script>

<style>
.employee-table-container {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.table-wrapper {
    max-height: 800px;
    overflow-y: auto;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
