<template>
    <v-app>
        <TheSideBar></TheSideBar>
        <v-main class="main">
            <div>
                <TheHeader></TheHeader>
            </div>
            <router-view></router-view>
        </v-main>
    </v-app>
</template>
<script>
// import theContent from './components/theContent.vue';

// import EmployeeDialog from './view/employee/EmployeeDialog.vue';
import TheSideBar from '@/components/TheSideBar.vue';
import TheHeader from '@/components/TheHeader.vue';
export default {
    name: 'App',
    components: {
        // theContent,
        // EmployeeDialog,
        TheSideBar,
        TheHeader,
    },
    data() {
        return {
            isShowDialog: false,
            isReload: false,
            idEmployee: null,
            isEdit: false,
        };
    },
    methods: {
        showEditDialog(id) {
            if (id) {
                this.idEmployee = id;
                this.isEdit = true;
            } else {
                this.isEdit = false;
                this.idEmployee = null;
            }
            this.isShowDialog = true;
        },
    },
};
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.main {
    background-color: #f5f5f9;
}
</style>
